/*Modified the CSS to include a Dark Mode and NavBar*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-before-after-dark-mode: darkslategrey;
  --bg-before-after: gainsboro;
  --bg-black-dark-mode: black;
  --bg-black: dimgray;
  --bg-button: blueviolet;
  --bg-color-card: white;
  --bg-color: aliceblue;
  --bg-textarea: gainsboro;
  --border-color-dark-mode: whitesmoke;
  --border-color: silver;
  --box-shadow-card-dark-mode: whitesmoke 0px 2px 8px 0px;
  --box-shadow-card: rgba(black, 0.15) 0px 2px 8px 0px;
  --font-color-button: white;
  --font-color-dark-mode: azure;
  --font-color-selection-dark-mode: #333;
  --font-color-selection: #333;
  --font-color-textarea-placeholder: #333;
  --font-color-textarea: #333;
  --font-color: #3b4954;
  --selection: blueviolet;
}



::selection {
  background-color: var(--selection);
  color: var(--font-color-selection);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--bg-color, var(--bg-before-after));
}

.dark-theme .navbar {
  background-color: var(--bg-black, var(--bg-before-after-dark-mode));
}

#profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

html,
body,
.wrapper {
  height: 0%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
}

.wrapper {
  position: relative;
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 7.5rem;
  max-width: 840px;
  margin: 0 auto;
}

.wrapper h1 {
  font-size: 50px;
  color: var(--font-color);
}

.dark-theme {
  --bg-before-after: var(--bg-before-after-dark-mode);
  --bg-color-card: var(--bg-black-dark-mode);
  --bg-color: var(--bg-black);
  --bg-textarea: var(--bg-black);
  --border-color: var(--border-color-dark-mode);
  --box-shadow-card: var(--box-shadow-card-dark-mode);
  --font-color-selection: var(--font-color-selection-dark-mode);
  --font-color-textarea-placeholder: var(--font-color-dark-mode);
  --font-color-textarea: var(--font-color-dark-mode);
  --font-color: var(--font-color-dark-mode);
}

#dark-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #858585;
  width: 45px;
  border-radius: 15px;
  padding: 2px 3px;
  cursor: pointer;
  display: flex;
  transition: padding-left 0.4s ease-in-out, background-color 1.5s ease-in-out;
}

#dark-btn span {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}

#dark-btn.dark-btn-on {
  padding-left: 23px;
  background-color: var(--bg-black-dark-mode);
}

.fa-solid {
  color: var(--font-color);
  font-size: 1.5rem;
  position: absolute;
  top: 1.2rem;
  right: 5rem;
}

#sun.d-none {
  display: none;
}

#moon.d-none {
  display: none;
}

header {
  margin-top: 3rem;
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: var(--font-color);
}

.card {
  background-color: var(--bg-color-card);
  border-radius: 1rem;
  border-width: 1px;
  box-shadow: var(--box-shadow-card);
  color: var(--font-color);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card h2 {
  text-align: center;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background-color: var(--bg-before-after);
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before,
.card-footer::after {
  content: " ";
  display: block;
  width: 100%;
  background-color: var(--bg-before-after);
  height: 2px;
}

.card-footer::after {
  clear: both;
}

.btn {
  border: none;
  background-color: var(--bg-button);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  color: var(--font-color-button);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bg-textarea);
  color: var(--font-color);
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed var(--border-color);
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

#password::placeholder {
  color: var(--font-color-textarea-placeholder);
}

#password:focus {
  transition: all 0.4s ease-in-out;
}


@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .card h2 {
    text-align: center;
  }

  .btn {
    font-size: 0.8rem;
  }
}
